$sidebarColor: #354052;
$sidebarHover: #30394A;
$sidebarFontColor: #929DAF;
$mainNavColor: #FFFFFF;
$mainNavHover: #33A4FA;
$openBtnAccent: #8ACE30;

$jobBackground: #EDF2F6;
$tableHeadColor: #6F7E95;
$tableButtonColor: #7B89A4;

$socialColor1: #4C71C2;
$socialColor2: #3BAAEF;
$socialColor3: #287FBD;

$widgetTextColor: #6A737C;

$inputButtonColor: #4FB9BC;
$inputFieldColor: #FFFFFF;

body {
  height: 100%;
  font-family: arial; 
  display: flex;
}

body {
  background-color: #666;
  display: flex;
}

.sidebar {
  flex-shrink: 0; 
  width: 210px; 
  height: auto; 
  background-color: $sidebarColor;
  font-size: 16px; 
}

.sidebar .section {
  padding: 20px 0px 20px 0px;
  border-bottom: darken($sidebarColor, 5%) 1px solid; 
}

.sidebar .section img {
  width: 100px; 
  border-radius: 50%; 
  position: relative; 
  left: 25%;
  padding-bottom: 10px;
}

.sidebar h2 {
  color: $sidebarFontColor; 
  font-family: Arial; 
  font-size: 1em; 
  font-weight: normal; 
  margin: 0px; 
  padding: 0px 0px 10px 30px;
}

h2#user {
  padding: 0px;
  position: relative;
  text-align: center;
  color: $sidebarFontColor;
}

.sidebar button {
  position: relative;
  width: 100%; 
  background-color: $sidebarColor;
  text-align: left;
  padding-left: 30px;
  color: $sidebarFontColor;
  font-style: normal; 
  font-size: 1em;
  font-family: arial;
  line-height: 1.5;  
  border: none;
}
.sidebar button p {
  display: inline;
  position: absolute; 
  left: 59px;
} 

.sidebar button:hover p {
  display: inline;
  position: absolute; 
  left: 59px;
} 

.sidebar button:hover {
  background-color: $sidebarHover; 
  color: #ccc;
  padding-left: 30px;
}

//////////////////////
/// Top Navigation ///
.primary-container {
  flex-grow: 1;
}
.navbar { 
  float: left;
  width: 900px;
  height: 60px; 
  background-color: $mainNavColor; 
  display: flex; 
  border-bottom: #aaa solid 1px;
}

.navbar .nav-icon {
  background-color: $mainNavColor;
  flex: 1;
  font-size: 20px;
  vertical-align: middle;
  position: relative;
  color: grey;
}

.navbar .nav-icon:hover { 
  background-color: $mainNavHover; 
  color: $mainNavColor; 
}

.navbar .nav-icon p {
  position: absolute; 
  top: 40%;
  left: 35%;
}

.navbar div#search-bar {
  background-color: $mainNavColor; 
  flex: 12; 
  font-family: Arial; 
  font-color: #888;
  font-size: 1.2em;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}


.navbar div#search-bar input {
  float: left;
  width: 100%;
  height: 100%;
  float: left;
  margin: 0px 0px 0px 0px; 
  padding-left: 40px;
  padding-top: 5px;
  border: none; 
  font-size: .95em;
  background-color: $mainNavColor;
  outline: none;
}

div#search-bar .icon {
  position: absolute;
  top: 40%;
  margin-left: 17px;
  z-index: 1;
  color: #888; 
}

/////////////////////
/// Job Navigation Area ///

$userinfo-padding-right: 25px;
.user-info-bar {
  position: relative;
  background-color: $mainNavColor;
  height: 75px;
  width: 900px - $userinfo-padding-right;
  float: left;
  padding: 20px 0px 30px $userinfo-padding-right;
}

.user-info-bar h1 {
  margin-top: 20px;
  padding: 0px 0px 5px 0px;
  font-size: 1.6em;
  color: #555;
}

.user-info-bar div {
  position: absolute;
  top: 50px; 
  right: 20px; 
}

.user-info-bar div#buttons button { 
  background-color: $mainNavColor;
  border: #ccc solid 1px;
  width: 40px; 
  height: 40px;
  color: #888;
  border-radius: 50%;
  outline: none;
  
  &:hover {
  color: #555;
  border: #999 solid 2px;
  }
}

.user-info-bar div#buttons button#open{ 
  width: 80px; 
  padding: 10px;
  border-radius: 20px;
  i { color: $openBtnAccent; }
  &:hover {
    color: #555;
    border: #999 solid 2px;
  }
}

.user-info-bar a {
  float: left;
  font-size: 1em;
  text-decoration: none;
  color: $mainNavHover;
}
.user-info-bar p {
  float: left; 
  font-size: 1em;
  padding-right: 10px; 
  color: #666;
}

.dashboard-navbar {
  float: left;
  width: 900px;
  height: 40px; 
  background-color: $mainNavColor; 
  display: flex;
}

.dash-nav {
  font-family: Arial; 
  font-size: 1.05em;
  font-weight: 550; 
  Margin: 0px 20px 0px 20px;
  padding: 1;
  float: left; 
  text-align: center; 
  border: none; 
  background-color: $mainNavColor; 
  border-bottom: $mainNavColor solid 4px;
  color: #666;
  outline: none;
}

.dash-nav:hover, 
.dash-nav:active {
  border-bottom: $mainNavHover solid 4px; 
  color: #333;

}

/////////////////////
/// Data Viz ///

.data-viz {
  float: left;
  width: 900px;
  height: 200px; 
  background-color: skyblue; 
  display: flex;
  border-bottom: white solid 2px;
}

.data-viz .data-1 {
  flex:  475px;
  background-color: $mainNavColor; 
  position: relative;
}

.data-viz .data-2 {
  flex: 425px;
  background-color: $mainNavColor;
  position: relative;
}

.data-1  button, 
.data-2 button {
  position: absolute; 
  left: 175px;
  width: 110px;
  bottom: 20px;
  background: white;
  border: lightgrey solid 2px;
  border-radius: 20px;
}

/////////////////////
/// Job Dashboard ///

.dashboard {
  float: left; 
  width: 900px; 
  height: 700px; 
  background-color: $jobBackground;
  display: flex; 
}

.job-table {
  flex: 3;
}
.job-table { 
  padding: 25px;
}
table {
  padding: 15px;
}
.job-table th {
  background-color: $tableHeadColor; 
  text-align: left; 
  padding: 13px 0px 13px 0px;
  color: lightgrey;
  font-size: .8em;
}

.job-table th button {
  background-color: $tableButtonColor; 
  border: none; 
  font-size: .8em;
  margin: 0px;
  padding: 4px;
  color: lightgrey;
}

.job-table button p {
  padding-left: 5px;
  display: inline;
  font-size: 1.4em;
  font-family: arial;

}

.job-table button i {
  font-size: .9em;
}

.job-table td {
  padding: 20px 0px 20px 0px;
  background: white; 
  border-bottom: 1px solid lightgrey; 
  color: grey;
  font-size: .8em;
  text-align: left;
}

.job-table td:nth-child(2), 
.job-table th:nth-child(2) {
  width: 140px;
}
.job-table td:nth-child(1), .job-table td:nth-child(4) {
  border: none; 
  padding: 15px;
}

.job-table tr:nth-last-child(1) td{
  border: none;
}

.job-table tr img {
  border-radius: 50%; 
  width: 40px;
}

.job-table img#hr-lead {
  vertical-align: middle;
  padding-right: 5px;
}

/////////////////////
/// Widget Column ///

.widget-col {
  flex: 1; 
  margin: 15px;
}

.widget-col .comm-widget {
  margin-top: 20px;
  padding-bottom: 20px;
  color: $widgetTextColor; 
  border-bottom: lightgrey solid 2px;
}

.widget-col button {  
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  border: none;
  color: white;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
  
}

#facebook { background-color: $socialColor1; 
  &:hover { 
    background-color: darken($socialColor1, 15%); 
  }
}
#linkedin { background-color: $socialColor2; 
  &:hover { 
    background-color: darken($socialColor2, 15%); 
  }
}
#twitter { background-color: $socialColor3; 
  &:hover { 
    background-color: darken($socialColor3, 15%); 
  }
}

.comm-widget h4 {
  color: $widgetTextColor;
  font-size: .9em;
  margin-bottom: 10px;
}

.comm-widget p {
  font-size: .8em;
  margin: 5px 0px 10px 0px;
}

.comm-widget div {
  overflow: hidden;
  vertical-align: middle;
  white-space: nowrap;
}

.comm-widget input {
  margin: 0px 0px 0px 0px; 
  padding: 0px 0px 0px 4px; 
  width: 100%;
  height: 25px;
  background: $inputFieldColor;
  border: none;
  font-size: 10pt;
  float: left;
  color: lighten($widgetTextColor, 10%);
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  &::placeholder { color: lighten($widgetTextColor, 30%);; }
}

.comm-widget div button {
  margin: 0px 0px 0px 0px; 
  padding: 0px 0px 0px 0px; 
  border: none;
  height: 25px;
  width: 50px;
  background-color: $inputButtonColor;
  color: $mainNavColor;
  margin-left: -50px;
  font-size: .7em;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


@media all and (max-width: 800px) {
  body { 
    flex-flow: column; 
  }
  .sidebar {
    order: 2; 
    width: 900px;
  }
  .primary-container {
    order: 1; 
    width: auto;
  }
  
  h2#user {
    text-align: left;
    padding-left: 30px;
  }
  
.sidebar .section img {
  width: 100px; 
  border-radius: 50%; 
  position: relative; 
  left: 30px;
  padding-bottom: 10px;
  }
}